

.menucard__title{
    font-size: 80px;
    font-weight: 700;
    margin-left: -8px;
    
}

.menucard--description {
    font-size: 18px;
    max-width: 294px;
    font-weight: 300;
}

.menucard {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 5rem;
    color: #fff;
}
.menucard__content {
    margin-left: 5rem;
    margin-bottom: 3rem;
}

@media (min-device-width: 1200px) 
and (max-device-width: 1600px) {
    .menucard--description {
        font-size: 16px;
        max-width: 254px;
       
    }
    .menucard__title{
        font-size: 65px;
        margin-left: 0;
    }
}