.gallery {
    display: flex;
} 
 
.gallery img {
    width: 100%;
    /* min-height: 430px; */
    object-fit: cover;
 }

 @media (min-device-width: 1200px) 
 and (max-device-width: 1600px)  {
   
 .gallery img {
   min-width: 300px;
 }
  }