.ti--intro {
    background-image: linear-gradient(180deg, #0E0E0E, rgba(11, 11, 11, 0)), url('../../assets/images/mainbg.png');
    background-size: cover;
    position: relative;
    padding-bottom: 2rem;

}
.ti__navbar {
    z-index: 99;
}
/* .ti__polkaoverlay {
    position: absolute;
    background: linear-gradient(180deg, #0E0E0E 0%, rgba(11, 11, 11, 0) 100%);    
    top: 0;
    width: 100%;
    height: 100%;
    z-index:0;
} */

.ti--name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8rem;
    z-index: 999 !important;
}

.ti__title {
    font-size: 370px;
    font-weight: 700;
  line-height: 0.8;
  color: #EFEDDD;
}



.ti--scrolldown {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.ti__scrollbtn {
    background: none;
    border: none;
    margin-top: 2rem;
}

.ti--scrolldown p{
font-size: 14px;
margin: 1rem;
color: #FFF;
margin-bottom: 3rem;
}

