.ti--intro {
    background-image: linear-gradient(180deg, #0E0E0E, rgba(11, 11, 11, 0)), url('../../assets/images/mainbg.png');
    background-size: cover;
    position: relative;
    padding-bottom: 1.1rem;

}
.ti__navbar {
    z-index: 99;
}

.ti--name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8rem;
    z-index: 999 !important;
}

.ti__title {
    font-size: 370px;
    font-weight: 700;
  line-height: 0.8;
  color: #EFEDDD;
}



.ti--scrolldown {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.ti__scrollbtn {
    background: none;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
}

.ti--scrolldown p{
font-size: 14px;
margin: 1rem;
color: #FFF;
margin-bottom: 3rem;
}

@media (min-device-width: 1200px) 
and (max-device-width: 1600px) {
    
    .ti__title {
        font-size: 200px;
    }
    .ti--scrolldown p{
        font-size: 12px;
        
        }

        .ti__scrollbtn img {
            width: 15px;
        }
}
